[submodule "deps/modulisp"]
	path = deps/modulisp
	url = git@github.com:Emute-Lab-Instruments/ModuLisp.git
[submodule "src-useq"]
	path = src-useq
	url = git@github.com:Emute-Lab-Instruments/uSEQ.git
