.panel-aux {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: lightblue;
  min-width: 20%;
  max-width: 40%;
  height: 50%;
  z-index: 1000;
  padding: 10px;
  border: 1px solid var(--panel-border);
  opacity:100%;
  gap: 10px;

  display: flex;
  flex-direction: column;
  text-align: left;
}

.panel-nav-button  {
  background-color:#ff4d00;

  &.active {
    background-color:#006139;
  }
}

.panel-nav-bar {
  /* position:sticky;
  top:0px;
  left:0px;
  width:100%;
  height:50px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #bd4917;
    z-index: 1000;
}

/* the container that holds all the tab contents */
.panel-window {
  /* padding-top:20px; */
  flex-grow: 1;
  max-height: unset;
  overflow-y:auto;
}


/* Ensure the overflow container does not go under the navigation bar */
.panel-tab-content {
  display: none;

  &.active {
    display:block;
    background: darkcyan;
  }
}


