/* Theme Panel Styles */

/* Theme Panel */


/* Themes Container */
.themes-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
  padding-top: 1em;
}

@media (min-width: 1200px) {
  .themes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }
}

/* Theme Preview */
.theme-preview {
  padding: 1em;
  border-radius: var(--item-border-radius);
  border: 1px solid var(--panel-border);
  background-color: var(--panel-section-bg);
  cursor: pointer;
  transition: all 0.2s ease;
}

.theme-preview:hover {
  background-color: var(--panel-item-hover-bg);
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.theme-preview.active {
  border: 2px solid var(--accent-color);
}

/* Theme Name */
.theme-name {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: var(--accent-color);
  padding: 0px;
  border-radius: var(--item-border-radius);
  display: inline-block;
}