#panel-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    box-shadow: none; /* Remove box shadow to ensure full transparency */
    z-index: 1000;
    padding: 5px;
}

.toolbar-row {
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* Make connect button take full width */
/* .toolbar-row:first-child {
    width: 65%;
    margin: 0 auto;
} */

/* .toolbar-row:first-child .toolbar-button {
    flex: 1;
} */
