#panel-toolbar {
    position: fixed;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border:none;
    border-radius: var(--panel-border-radius);
    z-index: 1000;
    padding: 5px;
}

.toolbar-row {
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* Button styles */
.toolbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:0.46em 0.6em;
    /*padding: 4px 8px;*/
    border: 1px solid var(--panel-border);
    border-radius: 4px;
    margin: 0 2px;
    height: 2.5em;
    min-width: 26px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: monospace;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--panel-control-bg); 
    text-align: center;
    transition: all 0.15s;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .toolbar-button:hover {
    background-color: var(--panel-item-hover-bg);
    border-color: var(--accent-color);
    color: var(--accent-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .toolbar-button:active {
    background-color: var(--panel-item-active-bg);
    border-color: var(--accent-color-active);
    color: var(--accent-color-active);
    transform: translateY(1px);
  }
  
  .toolbar-button.primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
  }
  
  .toolbar-button.primary:hover {
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
    color: white;
  }
  
  .toolbar-button.primary:active {
    background-color: var(--accent-color-active);
    border-color: var(--accent-color-active);
    color: white;
  }
  
  #button-connect {
    box-shadow: 0 0 20px var(--accent-color);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }
  
  #button-connect:hover {
    box-shadow: 0 0 20px var(--accent-color-hover);
  }
  
  /* High-specificity selector for connected state */
  #panel-toolbar #button-connect.connected {
    /* color: rgb(0, 255, 0) !important; */
    box-shadow: 0 0 20px rgba(0, 255, 0);
  }
  
  /* High-specificity selector for disconnected state */
  #panel-toolbar #button-connect.disconnected {
    box-shadow: 0 0 20px rgba(255, 0, 0);
  }
  
   /* High-specificity selector for disconnected state */
   #panel-toolbar #button-connect.plugged-in {
    box-shadow: 0 0 20px yellow;
  }

  @media all and (max-width:30em) {
    .toolbar-button {
      display: inline-flex;
      margin: 0.4em auto;
    }
  }



/* Make connect button take full width */
/* .toolbar-row:first-child {
    width: 65%;
    margin: 0 auto;
} */

/* .toolbar-row:first-child .toolbar-button {
    flex: 1;
} */
