
/* Serial Visualization Panel */
/* Old, adjusted names */
#panel-vis {
  display: block;
    position:fixed;
    height:100%;
    width:100%;
    left:0%;
    top:0%;
    /* min-width: 20em; */
    /* max-width: 0.5fr; */
    /* overflow:hidden; */
    resize: both;
    /* margin-top:-5em; */
    opacity:100%;
    overflow: hidden;
    pointer-events: none;
/*   
    & #serialcanvas {
      background-color: transparent;
      width: 100%;
      height: 100%; 
    } */
  } 

